.contact-container {
    background-image: url("img/banner.png"); /* Đường dẫn đến ảnh nền */
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    padding: 20px;
    color: #fff;
}

.form-group label {
    color: #fff;
}

.form-control {
    width: 100%;
    margin-bottom: 15px;
}

.btn-primary {
    background-color: #007bff;
    color: #fff;
}
